
@font-face {
  font-family: 'Larsseit-Regular';
  src: url('https://static.thebump.com/webfonts3/Larrseit/2FFC79_B_0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;    
}

@font-face {
  font-family: 'Larsseit-Medium';
  src: local('Larsseit-Medium');
  src: url('https://static.thebump.com/webfonts3/Larrseit/2FFC79_6_0.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit-Light';
  src: local('Larsseit-Light');
  src: url('https://static.thebump.com/webfonts3/Larrseit/2FFC79_0_0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit-LightItalic';
  src: local('Larsseit-LightItalic');
  src: url('https://static.thebump.com/webfonts3/Larrseit/2FFC79_3_0.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit-Bold';
  src: local('Larsseit-Bold');
  src: url('https://static.thebump.com/webfonts3/Larrseit/2FFC79_4_0.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'LeagueGothic';
  src: local('LeagueGothic');
  src: url('https://static.thebump.com/webfonts3/leaguegothic_regular/leaguegothic-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Argos-Light';
  src: url('https://static.thebump.com/webfonts3/argos_light/ArgosLig-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;   
}  

@font-face {
  font-family: 'Argos-Regular';
  src: url('https://static.thebump.com/webfonts3/argos_regular/ArgosReg-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;   
}  

@font-face {
  font-family: 'SofiaProLight';
  src: url('https://static.thebump.com/webfonts/sofiapro_light/SofiaProLight-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;            
}

@font-face {
  font-family: 'SofiaProSemiBold';
  src: url('https://static.thebump.com/webfonts/sofiapro_semibold/SofiaProSemiBold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;       
}
